/* header section */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
body{
    font-family: "Merriweather", serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#header{
   max-width:1320px;
 
    height: 600px;
}

#header nav{
background-image: url(images/Banner\ Image.png);


background-repeat: no-repeat;
background-size:cover;
width: 1260px;
height: 600px;
margin: 0 auto;
border-radius: 16px;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;


}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    font-size: 40px;
font-weight: 700;
color: white;
}

 .h3 {
    font-size: 22px;
    font-weight: 400;}

  
 .h1 {
    font-size: 32px;
    font-weight: 400;}
    





#offer{
    width:1202px;
    height: 906px;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#offer .offer-section{
    text-align: center;
}
#offer .offer-section img{
    width: 702.9px;
height: 540px;


}
.offer-section h1{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 88px;

}
.offer-section p{
    color: rgb(255, 0, 0);
font-family: Inter;
font-size: 24px;
font-weight: 500;
}

.offer-section h3{
    color: rgb(7, 2, 17);
font-family: Inter;
font-size: 48px;
font-weight: 700;
}

#invitation{
    background-image: url(images/Vectorrr.png);
    background-repeat: no-repeat;
background-size:contain;
width: 1100px;
height: 500px;
margin: 0 auto;
border-radius: 16px;
margin-top: 10%;
background-color: rgba(0, 0, 0, 0.5);
background-blend-mode: overlay;
margin-bottom: 5%;
}

.inviation-details{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inviation-detail{
    margin-left: 10%;
    color: rgb(255, 255, 255);
font-family: Merriweather;
font-size: 30px;
font-weight: 900;
}

.inviation-place-details{
    text-align: center;
    padding: 15%;

    
}
#invitation-place{
    border-radius: 16px;

background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
width: 1000px;
height: 600px;
margin: 0 auto;

}

.invitation-img {
    margin-right: 5%;
  

}
#holiday-function{
    margin-top: 5%;
    margin-left: 5%;
    width: 1200px;
    height: 900px;

}

.holiday-details{
    color: rgba(7, 2, 17, 0.6);
font-family: Inter;
font-size: 20px;
font-weight: 500;
padding: 20px;
margin-left: 5%;
margin-right: 5%;
text-align: center;


}

#new-year-offer{
   margin-left: 10%;
   margin-top: 5%;
}
.best-offer-details{
    display: flex;
    justify-content:space-around;
 
 
    gap: 20px;
}
.new-year-wish-img{
    box-sizing: border-box;
border: 15px solid rgb(255, 0, 0);
border-radius: 50%;
}
.sale-details{
    text-align: center;
}
.holiday-image{
    background-image: url(images/Rectangle\ 2.png);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    gap: 20%;
}

#img{
    margin-bottom: 20%;
}
.awesome-gifts-pics{
    border: 15px solid white;
    border-radius: 5%;
    margin: 10px 5px 10px 5px;
    
    width: 400px;
    height: 300px;
   
    
    
}
#best-gifts{
    margin-top: 5%;
    margin-left: 5%;
}

.best-gifts{
    margin: 10px 15px 10px 10px;
    padding: 10px;
}
.awesome-gifts{
    display: flex;
   
    gap: 20px;
}

#subscribe{
   
  margin-top: 50%;
   

}

.sub-details{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    border-radius: 16px;

    background: rgba(255, 0, 0, 0.05);;
}
#footer{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
   background-color: black;
  
   
    
}

.footer-details{
    margin-top: 10%;
    padding: 10%;
}
.details-1{
   
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgb(255, 255, 255);
    padding: 10%;

    
}
.icon{
   text-align: center;
   column-gap: white;
}
.footer-details{
    text-align: center;
}

